@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
  font-family: neurial-grotesk;
  src: url('./assets/fonts/NeurialGrotesk-Regular.otf');

}


:root{
  --purple:#8D34FF;
  --login-bgrc: rgba(230,210,255,1);
  --off-white:#FEFEFF;
  --ff-outfit:"Outfit", sans-serif;
  
}



/* Nav  */

nav h2{
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-size: 28.33px;
  color: #000000;
}

.login-btn{
  background-color: var(--login-bgrc);
  color: var(--purple);
  border-radius: 8px;
  border: none;
  height: 61px;
  width: 140px;
  font-weight: 500;
  font-size: 20px;
  font-family: neurial-grotesk;
}

.sign-up-btn{
  background-color: var(--purple);
  color: #F5F5F5;
  border-radius: 8px;
  border: none;
  height: 61px;
  font-weight: 500;
  font-size: 20px;
  width: 140px;
  font-family: neurial-grotesk;
}

/* auth-signin */

.sign-in-container{
  background-image: url('./assets/13625 1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  width: 100%;
}

.card-container{
  width: 30%;
}

.card-img{
  height: 256.62px;
  width: 256.62px;
}

.rating{
  font-size: 11.41px;
  font-weight: 400;
  line-height: 13.69px;
  font-family: neurial-grotesk;
  color: #111014;
}

.rate{
  font-size: 11.41px;
  font-weight: 400;
  line-height: 13.69px;
  font-family: neurial-grotesk;
  color: #4C4C4F;
}

.card-title{
  font-size: 15.97px;
  font-weight: 700;
  font-family: neurial-grotesk;
}

.card-price{
  font-size: 15.97px;
  font-weight: 700;
  line-height: 22.81px;
  font-family: neurial-grotesk;
  color: #8D34FF;
}

.card-discount-price{
  font-size: 15.97px;
  font-weight: 700;
  line-height: 22.81px;
  font-family: neurial-grotesk;
  color: #A2A2A2;
  text-decoration-color: #A2A2A2;
  text-decoration-thickness: 2px;
}

.add-to-cart-btn{
  background-color: var(--purple);
  color: var(--off-white);
  height: 40px;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.gap{
  gap: 13rem;
}

.gaps{
  gap: 10rem;
}

.perf h2{
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-size: 28.33px;
  color: #FFFFFF;
  
}
.forms{
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 2.4rem 3.5rem;
  
}

.formss{
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 49px 80px;
  width: 642px;
  height: 688.6px;
}


.form h1{
  font-size: 28px;
  font-weight: 700;
  color: #181A20;
  font-family: neurial-grotesk;
  line-height: 33.6px;
}

.form p {
  font-family: neurial-grotesk;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

label{
  font-family: neurial-grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 5px;
  color: #181A20;
}

.input-group{
  width: 100%;
  height: 49px;
  border-radius: 5px;
  border: 2.5px solid #DEDFE0 ;
  outline: none;

}
input{
  padding-left: 20px;
}
input::placeholder{
  font-size: 16px;
  font-weight: 400;
  font-family: neurial-grotesk;
  color:  #2632388F;
}

.input-groups{
  width: 100%;
  height: 54.3px;
  border-radius: 5px;
  border: 2.5px solid #DEDFE0 ;
  outline: none;
}

.agree p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-family: neurial-grotesk;
}

#checkbox{
  background-color: #8D34FF;
}

.spans {
  color:#EC5E5E;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0px;
}

.span{
  color: #8D34FF;
}

.bttn{
  height: 64px;
  background-color: #8D34FF;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 500;
  font-family: neurial-grotesk;


}
.bttn2{
  height: 64px;
  border-radius: 15px;
  background-color: #FFFFFF;
  border: 1px solid;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  font-family: neurial-grotesk;
  background-image: url('./assets/🦆 icon _google_.svg');
  background-repeat: no-repeat;
  background-position: 20% 52%;
  padding-left: 20px;
}

.bttn3{
  height: 64px;
  border-radius: 15px;
  background-color: #FFFFFF;
  border: 1px solid;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  font-family: neurial-grotesk;
  background-image: url('./assets/🦆 icon _google_.svg');
  background-repeat: no-repeat;
  background-position: 22% 52%;
  padding-left: 29px;

}

.forgot p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-family: neurial-grotesk;
  color: #EC5E5E;
}

.or{
  text-align: center;
  width: 100%;
}

.account p {
  margin-top: 23px;
}

.cart{
  border: 1px solid #D0D0D0;
  border-radius: 8px;
}

.btns{
  width: 25px;
  height: 25px;
  background-color: #D2D2D2;
  color: #FEFEFF;
  font-weight: 400;
  font-size: 17px;
  line-height: 18.14px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
}

.btnss{
  width: 25px;
  height: 25px;
  background-color: #8D34FF;
  color: #FEFEFF;
  font-weight: 400;
  font-size: 17px;
  line-height: 18.14px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
}
  
.parent{
  width: 100%;
}
.Gaps{
  width: 100%;
  height: 100%;
}

.preview{
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #191B1D;
}


.images{
  width: 33%;
  height: 100%;
  /* border: 2px solid red; */

}
.img{
  width: 100%;
  border-radius: 3px; 
}
.words{
  width: 67%;
  height: 100%;
}

.move {
  margin-top: -4px;
}


.prev  {
  font-size: 14.52px;
  font-weight: 600;
  line-height: 17.42px;
  color: #000000;
  font-family: neurial-grotesk;
  word-spacing: 1px;
}

.price{
  margin-top: -4px;

}

.price p{
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: #002011;
  
}


.price button{
  width: 87.33px;
  height: 26.36px;
  padding: 0 18.66px;
  font-size: 12.73px;
  font-weight: 600;
  font-family: neurial-grotesk;
  line-height: 15.27px;
  border-radius: 4px;
  color: #FF4034;
  background-color: #FFFFFF;
  border: 1px solid #FF4034;
}

.prices p {
  font-size: 14.52px;
  font-family: neurial-grotesk;
  font-weight: 500;
  color:  #5A5A5A;
  line-height: 17.42px;
}

.prices h1{
  font-size: 15px;
  font-weight: 800;
  font-family: neurial-grotesk;
  line-height: 19.2px;
  color: #000000;
}

.order-btn{
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: none;
  background-color: #8D34FF;
  color: #FEFEFF;
  font-family: neurial-grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

}

.class{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  
}
.section{
  border: 1px solid #DEDFE0 ;
  padding: 28px 30px ;
  border-radius: 10px;
  margin-top: 30px;
}
.bord{
  border: 10px solid #23A26D1F;
  border-radius: 100%;
  width: 60px;
}

.order h1 {
  font-family: neurial-grotesk;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #191B1D;
}

.order p {
  font-family: neurial-grotesk;
  font-size: 15.97px;
  font-weight: 500;
  line-height: 22.81px;
  color: #676767;
}

.Parent{
  width: 100%;
  height: 100%;
}

.imagess{
  width: 40%;
  height: 100%;

}
.imgs{
  width: 60%;
  border-radius: 5px; 
  height: 100%;
}

.wordss{
  height: 100%;
  width: 67%;
}

.ralph{
  font-size: 15px;
  font-weight: 600;
  font-family: neurial-grotesk;
  line-height: 17.64px;
  color: #000000;
}

.prices{
  font-size: 15px;
  font-weight: 600;
  font-family: neurial-grotesk;
  line-height: 17.64px;
  color: #8D34FF;
}

.span-color{
  color: #5D5D5D;
}
.count{
  font-size: 16px;
  font-weight: 700;
  font-family: neurial-grotesk;
  line-height: 19.6px;
  color: #002011;
}

.texts{
  font-size: 16.33px;
  font-weight: 500;
  font-family: neurial-grotesk;
  line-height: 19.6px;
}

.textss{
  font-size: 21.23px;
  font-weight: 700;
  font-family: neurial-grotesk;
  line-height: 25.48px;
}
.btn-order{
  height: 64px;
  border-radius: 15px;
  font-size: 22px;
  font-weight: 500;
  line-height: 50px;
  color: #FFFFFF;
  background-color: #8D34FF;
  border: none;
  font-family: neurial-grotesk;
}
@media (max-width:767px){

  .sign-in-container{
    background-image: none;
  }

  .perf img {
    display: none;
  }

  .perf h2{
    display: none;
  }

  .card-container{
    min-width: 98%;
  }

  .card-title{
    font-size: 20px;
    font-weight: 700;
  }

  .card-img{
    height: 335.55px;
    width: 335.55px;
  }
  
  .forms{
    padding: 0;
    width: 100%;
    height: 100%;
    
  }

  .formss{
    width: 100%;
    height: 100%;
    padding: 3px;
  }


  .bttn2{
    font-size: 18px;
    padding-left: 40px;
    background-position: 21% 51%;
  }

  .bttn3{
    font-size: 18px;
    padding-left: 40px;
    background-position: 21% 51%;
  }

  .carts{
    padding: 10px;
  }

  .cart{
    margin-top: 4.4rem;
    margin-bottom: 2rem;
  }

  .images{
    width: 39%;
    height: 100%;
  
  }
  .img{
    width: 100%;
    border-radius: 3px; 
    height: 100%;
  }

  .words{
    width: 61%;
    
  }

  .Gaps{
    gap: 1.2rem;
  }

  .section{
    padding: 14px;
    margin-top: 30px;
    border: none;
  }

  .imagess{
    width: 30%;
    height: 100%;
  
  }
  .imgs{
    width: 80%;
    border-radius: 5px; 
    height: 100%;
  }
  
  .wordss{
    height: 100%;
    width: 70%;
  }

}



@media (min-width:768px) and (max-width:1023px){
  .card-container{
    min-width: 40%;
  }
  
  .card-img{
    height: 335.55px;
    width: 335.55px;
  }
  .bttn2{
    padding:0;
    background-position: 24% 52%;
  }

  .bttn3{
    padding:0;
    background-position: 22% 53%;
  }
  .forms{
    margin-top: 20px;
  }

  .images{
    width: 30%;
    height: 100%;
  
  }
  .img{
    width: 80%;
    border-radius: 3px; 
    height: 100%;
  }

  .words{
    width: 70%;
  }

  
  .parent{
    min-width: 20%;
    /* border: 2px solid red; */
  }

  
}